
<div *ngIf="itemPedido">
    <h2><span>Item Pedido</span> {{itemPedido.id}}</h2>
    <hr>
    <jhi-alert-error></jhi-alert-error>
    <dl class="row-md jh-entity-details">
        <dt><span>Quantidade</span></dt>
        <dd>
            <span>{{itemPedido.quantidade}}</span>
        </dd>
        <dt><span>Pedido</span></dt>
        <dd>
            <div *ngIf="itemPedido.pedido">
                <a [routerLink]="['/pedido', itemPedido.pedido?.id]">{{itemPedido.pedido?.id}}</a>
            </div>
        </dd>
        <dt><span>Produto</span></dt>
        <dd>
            <div *ngIf="itemPedido.produto">
                <a [routerLink]="['/produto', itemPedido.produto?.id]">{{itemPedido.produto?.nome}}</a>
            </div>
        </dd>
    </dl>

    <button type="submit"
            (click)="previousState()"
            class="btn btn-info">
        <span class="fa fa-arrow-left"></span>&nbsp;<span> Back</span>
    </button>

    <button type="button"
            [routerLink]="['/', { outlets: { popup: 'item-pedido/'+ itemPedido.id + '/edit'} }]"
            replaceUrl="true"
            class="btn btn-primary">
        <span class="fa fa-pencil"></span>&nbsp;<span> Edit</span>
    </button>
</div>
